*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    align-items: center;
    display: flex;
    padding: 0px;
}
nav{
    text-align: right; 
    float: right;   
    flex: 1;
}
.logo{
    font-size: xx-large;
    color: #3F00FF;
    font-weight: bolder;
}
.add{
    background-color:#3F00FF;
    border: lightslategrey;
    color: white;
    padding: 8px 13px;
    margin: 30px 0px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    min-width: 40px;
}
.add:hover{
    background: lightblue;
}
.list{
    margin: 50px auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 50px;
}
.book{
    box-shadow: 0 0 3px;
    border-color: rgba(171, 183, 183, 1);
    transition: transform .5s ease;
}
.book:hover{
    transform: scale(1.03);
}
.book__image{
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*   addbook page css starts here     */
.createbook{
    
}
.initialize{
    
    margin: 50px auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    grid-column-gap: 400px;
    justify-content: center;
    align-content: center;

}
.image{
    text-align: center;
    
}
#Image1{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 1px;
}
#upbtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#file-name{
    margin-left: auto;
    display: inline;
}
.formm{
    padding: auto;
    align-content: center;
}
#bookdesc{
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    width: 350px;
    overflow: auto;
    padding: auto;
}

#bookname, #authorname, #bookpdf{
    height: 30px;
    width: 300px;
    padding: auto;
    margin: 10px;
}
